{{!-- Si un partial va a acceder a una propiedad del objeto enviado en el metodo render, esta propiedad deberia de estar en todas las rutas que tienen este partial  --}}

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="./help">Help</a>
</header>